body{
width: 100vw;

}
header{
    /* width: 100vw; */
    background: #3a5cb4;
    background: linear-gradient(180deg, rgba(58,92,180,1) 0%, rgba(29,146,253,1) 50%, rgba(69,212,252,1) 100%);
    /* background-position: bottom; */
}

.problema{
    margin:0;
    padding:0;
}
#contImg{
    padding: auto;
}

.lista{
    padding-left:5vw;
}

#istruzione{
    margin-top:20vh;
    
}


#diploma{
    
    height:50vh;
   
    
    

}

#icone{
    padding-right: 10vw;
}
.icons{
    font-size:1.5rem;
}

#footer{
    
    height:10vh;
    background: rgb(58,92,180);
    background: linear-gradient(0deg, rgba(58,92,180,1) 0%, rgba(29,146,253,1) 50%, rgba(69,212,252,1) 100%);
    
}

.contatti{
    padding-left:5vw;
    
}

.testi{
    padding: 4vh 20vw 6vh 20vw;
    line-height: 1.5rem;
}

/* animazioni */

#animazioneUno{
    
    width: 400px;
    height: 400px;
    background-color:yellow;
    position: relative;
}

#angularIcon{
    width: 50px;
    height: 50px;
    position:absolute;
    
}


/* MEDIA QUERIES */


/* immagine e testo header */
@media screen  and (max-width:400px) {
    .immagine{
        width: 35vw;
        height:35vh;
    }
}
@media screen  and (min-width: 401px) and (max-width:580px) {
    .immagine{
        width: 30vw;
        height:30vh;
    }
}
@media screen  and (min-width: 581px) and (max-width:671px) {
    .immagine{
        width: 28vw;
        height:32vh;
    }
}
@media screen  and (min-width: 671px) and (max-width:767px) {
    .immagine{
        width: 28vw;
        height:32vh;
    }
}

@media screen  and (min-width:768px) and (max-width:1000px) {
    .immagine{
        width:24vw;
        height:38vh;
    }
}
@media screen  and (min-width:1000px) and (max-width:1200px) {
    .immagine{
        width:18vw;
        height:42vh;
    }
}
@media screen  and (min-width:1200px) and (max-width:1450px) {
    .immagine{
        width:16vw;
        height:45vh;
    }
}
@media screen  and (min-width:1451px)  {
    .immagine{
        width:12vw;
        height:30vh;
    }
}



